html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(38, 36, 61);
  color: white;
}

.scrollDown {
  position: relative;
  width: 24px;
  height: 24px;
  margin: 0 auto;
}

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: " ";
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.text {
  display: block;
  margin-top: 55px;
  margin-left: -10px;
  font-size: 12px;
  color: #fff;
  white-space: nowrap;
  opacity: 0.25;
  animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}

.parallax-window {
  height: 60vh;
  background: transparent;
  padding: 20vh 25vw;

  text-align: center;
}

.parallax-title {
  z-index: 2;
  position: relative;
  font-size: 2.5rem;
  text-shadow: 4px 6px 13px rgb(12, 12, 26);
  color: white;
  animation: change 4s;
}

@keyframes change {
  0% {
    color: black;
  }
  100% {
    color: white;
  }
}

.container {
  padding: 50vh 20vw 50vh 20vw;
  min-height: 100vh;
  text-align: center;
}

p {
  font-size: 1.5rem;
}

.filter-info {
  position: relative;
  z-index: 2;
  text-shadow: 2px 3px 6px black;
}

.redmeat1 {
  min-height: 40vh;
  min-width: 50vw;
  position: relative;
  margin-bottom: 2rem;
  background-position: right;
}

.redmeat2 {
  min-height: 40vh;
  min-width: 50vw;
  position: relative;
  margin-bottom: 2rem;
}
.redmeat3 {
  min-height: 40vh;
  min-width: 50vw;
  position: relative;
  margin-bottom: 2rem;
}

.redmeat1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: opacity(0.6) grayscale(0.4);
  background-image: url("./photos/redmeat1.jpg");
  background-size: 300px 300px;
  background-size: cover;
}
.redmeat2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: opacity(0.6) grayscale(0.4);
  background-image: url("./photos/redmeat2.jpg");
  background-size: 300px 300px;
  background-size: cover;
}
.redmeat3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: opacity(0.6) grayscale(0.4);
  background-image: url("./photos/redmeat3.jpg");
  background-size: 300px 300px;
  background-size: cover;
}

.whitemeat1 {
  min-height: 40vh;
  min-width: 50vw;
  position: relative;
  margin-bottom: 2rem;
}

.whitemeat2 {
  min-height: 40vh;
  min-width: 50vw;
  position: relative;
  margin-bottom: 2rem;
}
.whitemeat3 {
  min-height: 40vh;
  min-width: 50vw;
  position: relative;
  margin-bottom: 2rem;
}

.whitemeat1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: opacity(0.6) grayscale(0.4);
  background-image: url("./photos/whitemeat1.jpg");
  background-size: 300px 300px;
  background-size: cover;
}
.whitemeat2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: opacity(0.6) grayscale(0.4);
  background-image: url("./photos/whitemeat2.jpg");
  background-size: 300px 300px;
  background-size: cover;
}
.whitemeat3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: opacity(0.6) grayscale(0.4);
  background-image: url("./photos/whitemeat3.jpg");
  background-size: 300px 300px;
  background-size: cover;
}
